{% extends "graph/index.html" %}
{% load static %}

{% block body %}
<div class="col-xs-12 col-md-4">
  <div class="page-header">
    <h3>Directed  Graph</h3>
  </div>
  <img src="{% static 'graph/direct-graph.png' %}" alt="direct-graph">
  <div class="button-item">
    <a class="btn btn-default btn-lg" href="{% url 'graph:pathLength' %}" role="button">Path Length Calculation</a>
    <hr>
    <a class="btn btn-default btn-lg" href="{% url 'graph:shortestPath' %}" role="button">Shortest Path Calculation</a>
    <hr>
    <a class="btn btn-default btn-lg" href="{% url 'graph:allPath' %}" role="button">ALl Path Possibilities</a>
  </div>
</div>
{% endblock %}
